<launch>
	<arg name="pid_rate" default="100" />
	<arg name="kp" default="0" />
	<arg name="ki" default="0" />
	<arg name="kd" default="0" />
	<arg name="upper_limit" default="2000" />
	<arg name="lower_limit" default="-2000" />
	<arg name="anti_windup" default="0.1" />
	<arg name="topic_pid_in" default="/kkctbn/pid/in" />
	<arg name="topic_pid_out" default="/kkctbn/pid/out" />
	<!-- topic for kp,kd, ki /kkctbn/pid/const -->
	
	<node name="simple_red_controller" pkg="whatever" output="screen" type="simple_red_controller" />
	<node name="avoid_controller" pkg="whatever" output="screen" type="avoid_controller" />
	
	<node name="control" pkg="pid" output="screen" type="controller_adaptive" args="$(arg kp) $(arg ki) $(arg kd) $(arg pid_rate) -tfp $(arg topic_pid_in) -tfc $(arg topic_pid_out) -ul $(arg upper_limit) -ll $(arg lower_limit) -aw $(arg anti_windup)" />
	
	<node name="image_front" pkg="whatever" output="screen" type="image_front" />
	<node name="red_hough" pkg="whatever" output="screen" type="red_hough" />
	<node name="green_hough" pkg="whatever" output="screen" type="green_hough" />
	<node name="yolo_red" pkg="whatever" output="screen" type="yolo_red" />
	<node name="yolo_green" pkg="whatever" output="screen" type="yolo_green" />
	
	<node name="motor_controller" pkg="whatever" output="screen" type="motor_controller" />
	<node name="node_controller" pkg="whatever" output="screen" type="node_controller" />
	<node name="remote_monitor" pkg="whatever" output="screen" type="remote_monitor" />
	<node name="debug_makara" pkg="whatever" output="screen" type="debug_makara" />
	
	<node name="recorder" pkg="whatever" output="screen" type="recorder" />
	<node name="player" pkg="whatever" output="screen" type="player" />
</launch>
