<launch>
	<node name="image_front" pkg="whatever" output="screen" type="image_front" />
	
	<node name="red_hough" pkg="whatever" output="screen" type="red_hough" />
	<node name="green_hough" pkg="whatever" output="screen" type="green_hough" />
	<!-- node name="simple_red" pkg="whatever" output="screen" type="simple_red" -->
	<!-- node name="simple_green" pkg="whatever" output="screen" type="simple_green" -->
	
	<node name="debug_makara" pkg="whatever" output="screen" type="debug_makara" />
	
</launch>
